In [4]:
import pandas as pd

def clean_data(df):
    # Drop columns: 'gameid', 'datacompleteness' and 50 other columns
    df = df.drop(columns=['gameid', 'datacompleteness', 'url', 'league', 'split', 'year', 'playoffs', 'date', 'game', 'patch', 'participantid', 'side', 'teamid', 'champion', 'ban1', 'ban2', 'ban3', 'ban4', 'ban5', 'gamelength', 'doublekills', 'triplekills', 'quadrakills', 'pentakills', 'firstbloodassist', 'firstbloodkill', 'firstbloodvictim', 'firstdragon', 'dragons', 'opp_dragons', 'elementaldrakes', 'infernals', 'opp_elementaldrakes', 'mountains', 'clouds', 'oceans', 'chemtechs', 'hextechs', 'dragons (type unknown)', 'elders', 'opp_elders', 'firstherald', 'heralds', 'opp_heralds', 'firstbaron', 'firsttower', 'towers', 'opp_towers', 'firstmidtower', 'firsttothreetowers', 'turretplates', 'opp_turretplates'])
    # Drop rows with missing data in columns: 'playername', 'result'
    df = df.dropna(subset=['playername', 'result'])
    # Drop column: 'gspd'
    df = df.drop(columns=['gspd'])
    # Drop column: 'monsterkillsenemyjungle'
    df = df.drop(columns=['monsterkillsenemyjungle'])
    # Drop column: 'monsterkillsownjungle'
    df = df.drop(columns=['monsterkillsownjungle'])
    # Drop rows with missing data across all columns
    df = df.dropna()
    # Drop column: 'playerid'
    df = df.drop(columns=['playerid'])
    # Export DataFrame to an Excel file
    df.to_excel("output.xlsx", index=False)
    return df

# Loaded variable 'df' from URI: c:\Users\ssjed\OneDrive\Documents\GitHub\Fall2024\STAT 335\Final\2024_LoL_esports_match_data_from_OraclesElixir.xlsx
df = pd.read_excel(r'c:\Users\Shouro Shuvit\OneDrive\Documents\GitHub\Fall2024\STAT 335\Final\2024_LoL_esports_match_data_from_OraclesElixir.xlsx')

df_clean = clean_data(df.copy())
df_clean.head()

,position,playername,teamname,result,kills,deaths,assists,teamkills,teamdeaths,firstblood,...,opp_csat15,golddiffat15,xpdiffat15,csdiffat15,killsat15,assistsat15,deathsat15,opp_killsat15,opp_assistsat15,opp_deathsat15
216,top,Adam,Team BDS,0,3,3,3,10,14,1.0,...,135.0,1690.0,-346.0,-1.0,2.0,1.0,1.0,0.0,1.0,2.0
217,jng,Sheo,Team BDS,0,2,2,2,10,14,1.0,...,95.0,-378.0,74.0,3.0,1.0,2.0,0.0,2.0,2.0,0.0
218,mid,nuc,Team BDS,0,2,3,1,10,14,0.0,...,152.0,279.0,-330.0,-16.0,1.0,0.0,0.0,0.0,1.0,0.0
219,bot,Ice,Team BDS,0,2,2,2,10,14,0.0,...,109.0,213.0,1319.0,17.0,2.0,1.0,2.0,3.0,1.0,2.0
220,sup,Labrov,Team BDS,0,1,4,3,10,14,0.0,...,23.0,-75.0,-1313.0,-8.0,0.0,3.0,2.0,0.0,3.0,2.0

In [9]:
# Calculate the correlation of 'result' with all other columns
result_correlations = abs_correlation_matrix['result']

# Sort the correlations by absolute value in descending order
sorted_result_correlations = result_correlations.sort_values(ascending=False)

# Display the sorted correlations
sorted_result_correlations

result                      1.000000
team kpm                    0.687156
teamkills                   0.668952
teamdeaths                  0.667032
assists                     0.527882
                              ...
wardsplaced                 0.021534
damagemitigatedperminute    0.020690
damageshare                 0.000685
earnedgoldshare             0.000041
ckpm                        0.000017
Name: result, Length: 64, dtype: float64

In [8]:
# Select only numeric columns
numeric_df_clean = df_clean.select_dtypes(include=['number'])

# Calculate the correlation matrix
correlation_matrix = numeric_df_clean.corr()

# Get the absolute values of the correlation matrix
abs_correlation_matrix = correlation_matrix.abs()

# Unstack the matrix and sort by correlation value
sorted_correlations = abs_correlation_matrix.unstack().sort_values(ascending=False)

# Drop the duplicate pairs (correlation of a variable with itself)
sorted_correlations = sorted_correlations[sorted_correlations != 1]

# Display the sorted correlations
sorted_correlations

csat10           csat15             0.983146
csat15           csat10             0.983146
opp_csat15       opp_csat10         0.983115
opp_csat10       opp_csat15         0.983115
earnedgold       totalgold          0.982773
                                      ...
team kpm         earnedgoldshare    0.000105
result           earnedgoldshare    0.000041
earnedgoldshare  result             0.000041
ckpm             result             0.000017
result           ckpm               0.000017
Length: 4032, dtype: float64

In [10]:
# Create datasets based on position
positions = ['top', 'jng', 'mid', 'bot', 'sup']
datasets = {}

for position in positions:
    datasets[position] = df_clean[df_clean['position'] == position]

# Display the first few rows of each dataset
for position, dataset in datasets.items():
    print(f"Dataset for position: {position}")
    print(dataset.head())
    print("\n")

Dataset for position: top
    position   playername      teamname  result  kills  deaths  assists  \
216      top         Adam      Team BDS       0      3       3        3
221      top  BrokenBlade    G2 Esports       1      4       3        2
228      top     Szygenda         Rogue       0      0       3        2
233      top   Irrelevant     SK Gaming       1      6       1        6
240      top    Cabochard  Karmine Corp       0      0       4        4

     teamkills  teamdeaths  firstblood  ...  opp_csat15  golddiffat15  \
216         10          14         1.0  ...       135.0        1690.0
221         14          10         0.0  ...       134.0       -1690.0
228          4          16         0.0  ...       133.0        -136.0
233         16           4         0.0  ...       118.0         136.0
240          9          20         0.0  ...       142.0        -175.0

     xpdiffat15  csdiffat15  killsat15  assistsat15  deathsat15  \
216      -346.0        -1.0        2.0          1.0         1.0
221       346.0         1.0        0.0          1.0         2.0
228      -484.0       -15.0        0.0          0.0         1.0
233       484.0        15.0        1.0          0.0         0.0
240       601.0        -7.0        0.0          0.0         0.0

     opp_killsat15  opp_assistsat15  opp_deathsat15
216            0.0              1.0             2.0
221            2.0              1.0             1.0
228            1.0              0.0             0.0
233            0.0              0.0             1.0
240            0.0              0.0             0.0

[5 rows x 67 columns]


Dataset for position: jng
    position playername      teamname  result  kills  deaths  assists  \
217      jng       Sheo      Team BDS       0      2       2        2
222      jng       Yike    G2 Esports       1      4       1        5
229      jng    Markoon         Rogue       0      0       3        4
234      jng       ISMA     SK Gaming       1      3       0       12
241      jng         Bo  Karmine Corp       0      3       7        1

     teamkills  teamdeaths  firstblood  ...  opp_csat15  golddiffat15  \
217         10          14         1.0  ...        95.0        -378.0
222         14          10         0.0  ...        98.0         378.0
229          4          16         0.0  ...        94.0        -342.0
234         16           4         1.0  ...       119.0         342.0
241          9          20         0.0  ...        95.0        -227.0

     xpdiffat15  csdiffat15  killsat15  assistsat15  deathsat15  \
217        74.0         3.0        1.0          2.0         0.0
222       -74.0        -3.0        2.0          2.0         0.0
229       129.0        25.0        0.0          1.0         0.0
234      -129.0       -25.0        1.0          2.0         0.0
241       806.0        13.0        1.0          0.0         1.0

     opp_killsat15  opp_assistsat15  opp_deathsat15
217            2.0              2.0             0.0
222            1.0              2.0             0.0
229            1.0              2.0             0.0
234            0.0              1.0             0.0
241            2.0              0.0             1.0

[5 rows x 67 columns]


Dataset for position: mid
    position playername      teamname  result  kills  deaths  assists  \
218      mid        nuc      Team BDS       0      2       3        1
223      mid       Caps    G2 Esports       1      2       0        7
230      mid    Larssen         Rogue       0      1       5        3
235      mid      Nisqy     SK Gaming       1      1       2        6
242      mid      SAKEN  Karmine Corp       0      3       2        4

     teamkills  teamdeaths  firstblood  ...  opp_csat15  golddiffat15  \
218         10          14         0.0  ...       152.0         279.0
223         14          10         0.0  ...       136.0        -279.0
230          4          16         0.0  ...       128.0        -262.0
235         16           4         1.0  ...       131.0         262.0
242          9          20         0.0  ...       145.0        -391.0

     xpdiffat15  csdiffat15  killsat15  assistsat15  deathsat15  \
218      -330.0       -16.0        1.0          0.0         0.0
223       330.0        16.0        0.0          1.0         0.0
230        15.0         3.0        0.0          1.0         2.0
235       -15.0        -3.0        1.0          1.0         1.0
242      -779.0       -13.0        0.0          1.0         0.0

     opp_killsat15  opp_assistsat15  opp_deathsat15
218            0.0              1.0             0.0
223            1.0              0.0             0.0
230            1.0              1.0             1.0
235            0.0              1.0             2.0
242            0.0              1.0             0.0

[5 rows x 67 columns]


Dataset for position: bot
    position playername      teamname  result  kills  deaths  assists  \
219      bot        Ice      Team BDS       0      2       2        2
224      bot  Hans Sama    G2 Esports       1      4       2        5
231      bot       Comp         Rogue       0      3       2        0
236      bot    Exakick     SK Gaming       1      5       1        5
243      bot      Upset  Karmine Corp       0      2       2        3

     teamkills  teamdeaths  firstblood  ...  opp_csat15  golddiffat15  \
219         10          14         0.0  ...       109.0         213.0
224         14          10         0.0  ...       126.0        -213.0
231          4          16         0.0  ...       142.0         639.0
236         16           4         0.0  ...       155.0        -639.0
243          9          20         0.0  ...       128.0         342.0

     xpdiffat15  csdiffat15  killsat15  assistsat15  deathsat15  \
219      1319.0        17.0        2.0          1.0         2.0
224     -1319.0       -17.0        3.0          1.0         2.0
231       875.0        13.0        1.0          0.0         0.0
236      -875.0       -13.0        0.0          0.0         0.0
243       249.0        12.0        0.0          1.0         0.0

     opp_killsat15  opp_assistsat15  opp_deathsat15
219            3.0              1.0             2.0
224            2.0              1.0             2.0
231            0.0              0.0             0.0
236            1.0              0.0             0.0
243            0.0              1.0             0.0

[5 rows x 67 columns]


Dataset for position: sup
    position playername      teamname  result  kills  deaths  assists  \
220      sup     Labrov      Team BDS       0      1       4        3
225      sup      Mikyx    G2 Esports       1      0       4        7
232      sup     Zoelys         Rogue       0      0       3        4
237      sup       Doss     SK Gaming       1      1       0       14
244      sup   Targamas  Karmine Corp       0      1       5        4

     teamkills  teamdeaths  firstblood  ...  opp_csat15  golddiffat15  \
220         10          14         0.0  ...        23.0         -75.0
225         14          10         0.0  ...        15.0          75.0
232          4          16         0.0  ...        14.0        -230.0
237         16           4         1.0  ...        16.0         230.0
244          9          20         0.0  ...        13.0         -10.0

     xpdiffat15  csdiffat15  killsat15  assistsat15  deathsat15  \
220     -1313.0        -8.0        0.0          3.0         2.0
225      1313.0         8.0        0.0          3.0         2.0
232      -143.0         2.0        0.0          1.0         0.0
237       143.0        -2.0        0.0          3.0         0.0
244      -579.0         9.0        0.0          1.0         1.0

     opp_killsat15  opp_assistsat15  opp_deathsat15
220            0.0              3.0             2.0
225            0.0              3.0             2.0
232            0.0              3.0             0.0
237            0.0              1.0             0.0
244            0.0              1.0             0.0

[5 rows x 67 columns]

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report

# Define the feature columns and target variable
features = numeric_df_clean.drop(columns=['result'])
target = numeric_df_clean['result']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=42)

# Create and train the logistic regression model
model = LogisticRegression(max_iter=8334)
model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = model.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
report = classification_report(y_test, y_pred)

print(f'Accuracy: {accuracy}')
print('Classification Report:')
print(report)

c:\Users\Shouro Shuvit\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Accuracy: 0.9616076784643072
Classification Report:
              precision    recall  f1-score   support

           0       0.96      0.96      0.96       846
           1       0.96      0.96      0.96       821

    accuracy                           0.96      1667
   macro avg       0.96      0.96      0.96      1667
weighted avg       0.96      0.96      0.96      1667

NameError: name 'report_reduced' is not defined